*.swp
*.swo
*__pycache__
*.pyc

*.so
*.c

*.blg
*.bbl
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.ipynb_checkpoints
*.pdf
*~
*.html
*.json
*.brf

*cache*
*.nav
*.snm


*.out
*.err
*.toc
*.Rhistory
*-concordance.tex

*.npz
*.RData

*deleteme* 

# structure data files 
*.bed
*.bim
*.fam
*.hh
*.log
*.map
*.missing
*.npz
*.ped
*.stru
*.csv

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
